$yellow_fade: #e5b756;
$yellow: #ffca1d;
$dark: #000000;
$light: #fff;

$video_height: 700px;

#intro {
  background-image: url("./assets/intro-bg.jpg");
  /* Set a specific height */
  min-height: 550px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Who We Are
.who-we-are {
  min-height: $video_height;
  background: rgba(0, 0, 0, 0.8);
  .video-container {
    position: relative;
    video {
      margin: auto;
      width: 100%;
      height: $video_height;
      position: absolute;
      // object-fit: cover;
      z-index: 0;
      opacity: 70%;
      filter: brightness(60%);
    }
    .caption {
      filter: brightness(100%);
      text-align: start !important;
      max-width: 50%;
      z-index: 1;
      position: relative;
      text-align: center;
      padding: 10px;
      h1 {
        font-size: 4.5rem;
        font-weight: lighter;
        max-width: 75%;
        color: $yellow;
        border-bottom: 5px solid $yellow;
        display: inline-block;
        padding-bottom: 10px;
        span {
          font-weight: bold;
          color: $light;
        }
      }
      h1:after {
        content: "";
      }
      p {
        color: $light;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
  }
}

.services {
  background-image: url("./assets/service_bg.jpg");
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .wrapper {
    opacity: 100% !important;
    background-color: rgba(255, 255, 255, 0.5);
    h1 {
      font-weight: lighter;
      font-size: 10rem;
      text-transform: capitalize;
    }

    h5 {
      border-bottom: 3px solid #000;
    }
    // h5:after {
    //   content: "";
    // }

    i {
      font-size: 4rem;
    }
    .strip {
      width: 100%;
      max-height: 250px;
    }
  }
}

// Contact
.contact {
  min-height: 75vh;

  .left {
    background-color: $yellow_fade !important;
  }
  .right {
    background-color: $dark !important;
    color: $light;

    .icon-wrapper {
      padding-bottom: 10rem;
      .icon {
        font-size: 10rem;
      }
    }

    .text-wrapper {
      text-align: center;
      font-weight: bold;
    }
  }
}
