$yellow_fade: #e5b756;
$yellow: #ffca1d;
$dark: #000000;
$light: #fff;
$accent: #101522;
$accent_light: #222636;

$video_height: 700px;

@font-face {
  font-family: Decalotype;
  src: url("./assets/fonts/decalotype/Decalotype-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Decalotype;
  src: url("./assets/fonts/decalotype/Decalotype-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Visage;
  src: url("./assets/fonts/Visage-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: Signika;
  src: url("./assets/fonts/SignikaNegative-Regular.ttf");
}
@font-face {
  font-family: mutiara;
  src: url("./assets/fonts/mutiara.ttf");
  font-weight: 400;
}
@font-face {
  font-family: quicksand;
  src: url("./assets/fonts/quicksand.ttf");
}
@font-face {
  font-family: Pasajero;
  src: url("./assets/fonts/Pasajero.otf");
}
@font-face {
  font-family: Niagara;
  src: url("./assets/fonts/Niagara-Engraved.ttf");
}

@font-face {
  font-family: Nexa;
  src: url("./assets/fonts/Nexa-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Masticusy;
  src: url("./assets/fonts/Masticusy.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Uni;
  src: url("./assets/fonts/Uni-Sans-Thin.otf");
  font-weight: 300;
}
@font-face {
  font-family: Uni;
  src: url("./assets/fonts/Uni-Sans-Heavy.otf");
  font-weight: 700;
}

@font-face {
  font-family: Moon;
  src: url("./assets/fonts/Moon-Light.otf");
  font-weight: 400;
}
@font-face {
  font-family: TCCEB;
  src: url("./assets/fonts/TCCEB.ttf");
  font-weight: 700;
}

#intro {
  background-image: url("./assets/intro-bg.jpg");
  /* Set a specific height */
  min-height: 550px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Who We Are
.who-we-are {
  min-height: $video_height;
  background: rgba(0, 0, 0, 0.8);
  .video-container {
    position: relative;
    video {
      margin: auto;
      width: 100%;
      height: $video_height;
      position: absolute;
      // object-fit: cover;
      z-index: 0;
      opacity: 70%;
      filter: brightness(60%);
    }
    .caption {
      filter: brightness(100%);
      text-align: start !important;
      max-width: 50%;
      z-index: 1;
      position: relative;
      text-align: center;
      padding: 10px;
      h1 {
        font-family: "Uni";
        font-size: 4.5rem;
        font-weight: lighter;
        max-width: 75%;
        color: $yellow;
        border-bottom: 5px solid $yellow;
        display: inline-block;
        padding-bottom: 10px;
        span {
          font-weight: bold;
          color: $light;
        }
      }
      h1:after {
        content: "";
      }
      p {
        color: $light;
        font-weight: 500;
        font-family: "Decalotype";
        font-size: 1.4rem;
      }
    }
  }
}

.services {
  background-image: url("./assets/service_bg.jpg");
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .wrapper {
    opacity: 100% !important;
    background-color: rgba(255, 255, 255, 0.5);
    h1 {
      font-weight: lighter;
      font-size: 10rem;
      text-transform: capitalize;
    }

    h5 {
      border-bottom: 3px solid #000;
    }
    // h5:after {
    //   content: "";
    // }

    i {
      font-size: 4rem;
    }
    .strip {
      width: 100%;
      max-height: 250px;
    }
  }
}

// clients
.clients-wrapper {
  h1 {
    font-family: "Pasajero";
    font-size: 5rem;
  }
}

// Contact
.contact {
  min-height: 75vh;

  .left {
    background-color: $yellow_fade !important;

    h2 {
      font-weight: 500;
      font-size: 4rem;
      padding-bottom: 20px;
      font-family: "quicksand";
    }
    p {
      font-family: "quicksand";
      font-size: 1.2rem;
      font-weight: bold;
    }
    .contact-wrapper {
      padding: 120px;

      .form-card {
        margin-top: 100px;
      }
      .contact-label {
        text-align: center;
        display: block;
        margin: 10px;
        color: $light;
        background-color: $dark;
        width: 80px;
        padding: 8px;
      }

      input {
        padding: 8px;
        margin: 9px;
        border-radius: 0px;
      }
    }
  }
  .right {
    background-color: $dark !important;
    color: $light;

    .icon-wrapper {
      padding-bottom: 10rem;
      .icon {
        font-size: 10rem;
      }
    }

    .text-wrapper {
      text-align: center;
      font-weight: bold;
    }
  }
}

// Footer
footer {
  background-color: $accent;
  color: $light;
  padding: 15px 0;
  a {
    text-decoration: none;
  }
  .socials {
    align-content: flex-end;
    .social-circle {
      font-size: 1.2rem;
      display: inline-block;
      border-radius: 50%;
      background-color: $accent_light;
      width: 35px;
      height: 35px;
      text-align: center;
      //   display: none;
    }
  }
}
