$yellow_fade: #e5b756;
$yellow: #ffca1d;
$reddish: #cf404d;
$slate_gray: #2d3e4f;
$blue: #0c4271;
$secondary_2: #f9dfdc;
$secondary: $slate_gray;
$primary: $reddish;
$dark: #000000;
$light: #fff;
$accent: #101522;
$accent_light: #222636;
$off_white: #fafafa;

$video_height: 700px;

// utils
.color_primary {
  color: $primary !important;
}

.bg_primary {
  background-color: $primary !important;
}

.bg_secondary {
  background-color: $secondary !important;
}

.color_secondary {
  color: $secondary_2 !important;
}

@font-face {
  font-family: Decalotype;
  src: url("./assets/fonts/decalotype/Decalotype-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Decalotype;
  src: url("./assets/fonts/decalotype/Decalotype-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Visage;
  src: url("./assets/fonts/Visage-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: Signika;
  src: url("./assets/fonts/SignikaNegative-Regular.ttf");
}
@font-face {
  font-family: mutiara;
  src: url("./assets/fonts/mutiara.ttf");
  font-weight: 400;
}
@font-face {
  font-family: quicksand;
  src: url("./assets/fonts/quicksand.ttf");
}
@font-face {
  font-family: Pasajero;
  src: url("./assets/fonts/Pasajero.otf");
}
@font-face {
  font-family: Niagara;
  src: url("./assets/fonts/Niagara-Engraved.ttf");
}

@font-face {
  font-family: Nexa;
  src: url("./assets/fonts/Nexa-Light.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Masticusy;
  src: url("./assets/fonts/Masticusy.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Uni;
  src: url("./assets/fonts/Uni-Sans-Thin.otf");
  font-weight: 300;
}
@font-face {
  font-family: Uni;
  src: url("./assets/fonts/Uni-Sans-Heavy.otf");
  font-weight: 700;
}

@font-face {
  font-family: Moon;
  src: url("./assets/fonts/Moon-Light.otf");
  font-weight: 400;
}
@font-face {
  font-family: TCCEB;
  src: url("./assets/fonts/TCCEB.ttf");
  font-weight: 700;
}

/* The sidebar menu */
.sidenav {
  z-index: 1;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 17%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: $secondary; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

  .sidenav-inner {
    // display: none;
    font-family: "Uni";
    padding: 0px 25px;
    margin-top: 50%;
    text-align: center;
    font-size: 1.5rem;
    .brand {
      letter-spacing: 0.3em;
      font-size: 1.6rem;
      font-family: "Visage";
      font-weight: 600;
      span {
        color: $primary !important;
      }
    }
    a {
      color: $light !important;
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      display: block;
      transition: all ease-in-out 200ms;
    }

    .selected,
    a:hover {
      font-size: 1.3rem;
      font-weight: 600;
      color: $primary !important;
    }
    .brand:hover {
      span {
        color: $light !important;
      }
    }
  }
}

#intro {
  // Millionares
  // background-image: url("./assets/intro-bg.jpg");

  // Dark laptop
  background-image: url("./assets/intro-bg.jpg");

  // 85.00%
  // background-image: url("./assets/intro-bg-3.jpg");

  // keyboard
  // background-image: url("./assets/intro-bg-4.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // filter: blur(3px);

  .intro-wrapper {
    opacity: 100% !important;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
  }
  .logo-wrapper {
    padding: 20rem 0px;
  }
  h1,
  h2 {
    color: $light;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    // font-family: "Uni" !important;
    font-family: "Visage" !important;
  }
  // Animation
  .ml2,
  .ml3 {
    position: relative;
    font-weight: 900;
    font-size: 5em;
    letter-spacing: 0.5em;
  }
  .ml2 .text-wrapper,
  .ml3 .text-wrapper {
    position: relative;
    display: inline-block;
    // padding-top: 0.2em;
    // padding-right: 0.05em;
    // padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml2 .letter,
  .ml3 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }

  .ml3 {
    color: $primary !important;
    font-family: "quicksand" !important;
    font-weight: 100 !important;
    letter-spacing: 0.2em;
    font-size: 4rem;
  }
}

// Who We Are
.who-we-are {
  // display: none; // NONONO
  // min-height: $video_height;
  background: rgba(0, 0, 0, 0.8);
  .video-container {
    position: relative;
    video {
      margin: auto;
      width: 100%;
      height: $video_height;
      position: absolute;
      // object-fit: cover;
      z-index: 0;
      opacity: 70%;
      filter: brightness(60%);
    }
    .caption {
      filter: brightness(100%);
      text-align: start !important;
      max-width: 75%;
      z-index: 1;
      position: relative;
      text-align: center;
      padding: 10px;
      h1 {
        font-family: "Uni";
        font-size: 4.5rem;
        font-weight: lighter;
        max-width: 75%;
        color: $light;
        border-bottom: 5px solid $primary;
        display: inline-block;
        padding-bottom: 10px;
        span {
          font-weight: bold;
          color: $light;
        }
      }
      h1:after {
        content: "";
      }
      p {
        color: $light;
        font-weight: 500;
        font-family: "Decalotype";
        font-size: 1.4rem;
      }
    }
  }
}

.services {
  display: none;
  background-image: url("./assets/service_bg.jpg");
  /* Set a specific height */
  min-height: 550px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .wrapper {
    opacity: 100% !important;
    background-color: rgba(255, 255, 255, 0.5);
    h1 {
      font-weight: lighter;
      font-size: 10rem;
      text-transform: capitalize;
    }

    h5 {
      border-bottom: 3px solid #000;
    }
    // h5:after {
    //   content: "";
    // }

    i {
      font-size: 4rem;
    }
    .strip {
      width: 100%;
      max-height: 250px;
    }
  }
}

// our promises

.promises-wrapper {
  .text-wrapper {
    h2 {
      font-family: "quicksand" !important;
      // text-transform: uppercase;
      font-size: 3.5rem;
      // font-weight: 700;
    }
    margin: auto;
    max-width: 550px;
    padding: 50px 0px;
  }

  .cards {
    width: 100%;
    margin: 10px 0px;
    padding: 0px 150px;
    .icon {
      color: $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      top: -30px;
      left: 42%;
      margin: auto;
      font-size: 2.5rem;
      border-radius: 10px;
      background-color: $light;
      height: 60px;
      width: 60px;
      border: 1px solid #ccc;
    }

    .promise-card {
      h3 {
        font-family: "Decalotype";
        text-transform: uppercase;
        font-size: 1.2rem;
      }

      position: relative;
      background-color: $off_white;
      padding: 50px 25px;
      border: 1px solid transparent;
      transition: all linear 150ms;
    }
    .promise-card:hover,
    .icon:hover {
      cursor: pointer;
      border: 1px solid $secondary;
    }
  }
}

.unknown-section-inner {
  // width: 100%;
  // background-color: $primary;
  margin: 0px 50px;
  padding: 0px 100px;
  h2,
  a {
    font-family: "Pasajero";

    font-weight: 500;
    color: $light;
    margin: 25px 0px;
  }
}

.facebook-wrapper {
  max-width: 80%;

  img {
    border-radius: 10px;
  }

  .facebook-intro {
    font-family: "quicksand";
    font-weight: bold;
    font-size: 3rem;
  }

  .facebook-lead {
    font-size: 1.5rem;
  }
}

.milestones-inner {
  cursor: pointer;
  font-family: "quicksand";
  font-family: "Uni";
  font-weight: bold;
  font-size: 1.5rem;
  padding: 100px 0px;
  background-color: $accent;
  width: 100%;
  div {
    // font-family: "quicksand";
    // font-weight: bold;
    font-family: "Uni";
  }
  .milestone-card {
    border-radius: 4px;
    text-align: center;
    color: $accent;
    background-color: $light;
    margin-right: 5px;
    padding: 30px;
    border: 1px solid transparent;
    transition: all 250ms ease-in-out;
  }
  .milestone-card:nth-child(2) {
    border: 1px solid $light;
    background-color: $primary;
    color: $light;
  }

  .milestone-card:nth-child(2):hover {
    border: 1px solid transparent;
    color: $accent;
    background-color: $light;
  }

  .milestone-card:hover {
    border: 1px solid $light;
    background-color: $primary;
    color: $light;
  }
}

// clients
.clients-wrapper {
  h1 {
    font-family: "Pasajero";
    font-size: 2rem;
  }
  .owl-carousel {
    display: flex;
    justify-content: space-around;
    img {
      width: 75%;
    }
  }
  .client-card {
    padding: 10px;
    transition: all 1s ease-in-out;
  }
  .client-card:hover {
    cursor: pointer;
    transition: all 500ms ease-in-out;
    transform: scale(1.2, 1.2);
  }
}

// clients
#team-gallery {
  h1 {
    font-family: "Pasajero";
    font-size: 5rem;
  }
  .owl-stage-outer {
    padding: 50px 0px !important;
  }
  .team-card {
    // display: none;
    padding: 50px;
    width: 500px;
    padding: 10px;
    transition: all 1s ease-in-out;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    justify-content: center;

    .img-wrapper img {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      margin: auto;
      display: block;
      // width: 50%;
    }
    .text-wrapper {
      h3 {
        font-family: "quicksand";
        font-size: 1.4rem;
      }
      p {
        font-weight: bold;
        text-transform: lowercase;
        font-size: 1rem;
      }
    }
  }
  .team-card:hover {
    cursor: pointer;
    transition: all 500ms ease-in-out;
    transform: scale(1.2, 1.2);
  }
}

#partners {
  max-width: 95%;
  margin: auto;
}
.partners {
  padding: 25px 0;
  font-size: 1rem !important;
  font-family: "Uni";
  font-weight: 300;
  text-transform: none !important;
  color: #000 !important;
  .parnters-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .partner {
      flex: 1 0 33%;
      width: 250px;
      height: 200px;
      margin: auto;
      img {
        margin: 10px auto !important;
        border-radius: 5px;
        object-fit: cover;
        width: 150px;
        height: 150px;
      }
      margin: 5px 0px;
      // background: $secondary;
      border-radius: 5px;
    }
  }
  h1 {
    font-family: "Uni";
    font-weight: 500;
    font-size: 3rem;
  }
  h4 {
    font-size: 1.3rem !important;
  }
  p {
    font-size: 0.8rem !important;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
  }
}

.btn-outline-light:hover {
  color: $dark !important;
}
// Contact
.contact {
  min-height: 75vh;
  background-color: $dark;
  .left {
    background-color: $primary !important;
    color: $light;
    h2 {
      font-weight: 500;
      font-size: 4rem;
      padding-bottom: 20px;
      font-family: "quicksand";
    }
    p {
      font-family: "quicksand";
      font-size: 1.2rem;
      // font-weight: bold;
    }
    .contact-wrapper {
      padding: 50px;

      .form-card {
        margin-top: 100px;
      }
      .contact-label {
        text-align: center;
        display: block;
        margin: 10px;
        color: $light;
        background-color: $dark;
        width: 80px;
        padding: 8px;
      }

      input {
        padding: 8px;
        margin: 9px;
        border-radius: 0px;
      }
    }
  }
  .right {
    background-color: $dark !important;
    color: $light;
    display: grid;
    justify-content: space-between;
    .icon-wrapper {
      // padding-bottom: 19rem;
      .icon {
        font-size: 11rem;
      }
    }

    .text-wrapper {
      padding: 50px 50px;
      text-align: center;
      // font-weight: bold;
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }
}

// Footer
footer {
  z-index: 200;
  background-color: $accent;
  color: $light;
  padding: 15px 0;
  a {
    text-decoration: none;
  }
  .socials {
    align-content: flex-end;
    .social-circle {
      font-size: 1.2rem;
      display: inline-block;
      border-radius: 50%;
      background-color: $accent_light;
      width: 35px;
      height: 35px;
      text-align: center;
      //   display: none;
    }
  }
}

.owl-carousel .owl-stage {
  transition-timing-function: linear !important;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}
.view,
body,
html {
  height: 100%;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}
.page-footer,
.top-nav-collapse {
  background-color: #1c2331;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}
